<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Strings</h4>
            <p class="category">Strings of interest</p>
        </div>
        <div class="content">
            <ul class="nav nav-tabs">
                {% if results.strings %}
                    <li class="active"><a data-toggle="tab" href="#strings">Strings</a></li>
                {% endif %}
                {% if results.patterns.ipaddress %}
                    <li><a data-toggle="tab" href="#ipaddresses">IP Addresses</a></li>
                {% endif %}
                {% if results.patterns.suspicious %}
                    <li><a data-toggle="tab" href="#suspicious">Suspicious</a></li>
                {% endif %}
                {% if results.patterns.btc %}
                    <li><a data-toggle="tab" href="#btcwallets">BTC Wallets</a></li>
                {% endif %}
            </ul>

            <div class="tab-content">
               {% if results.strings %}
                   <div id="strings" class="tab-pane fade active in">
                      <pre class="pre-xy-scrollable" style="height: 500px; resize: vertical;">{{ results.strings }}</pre>
                   </div>
               {% endif %}
               {% if results.patterns.ipaddress %}
                   <div id="ipaddresses" class="tab-pane fade">
                       <br>
                       <ul>
                             {% for ip in results.patterns.ipaddress %}
                             <li><a href="https://www.robtex.com/ip-lookup/{{ip}}" target="_blank">{{ip}}</a></li>
                             {% endfor %}
                       </ul>
                   </div>
               {% endif %}
               {% if results.patterns.suspicious %}
                   <div id="suspicious" class="tab-pane fade">
			<br>
                        <ul>
                             {% for suspicious in results.patterns.suspicious %}
                             <li><a href="https://www.google.es/search?ei=y2D6XIqwIuGFjLsPuaOvkAk&q={{suspicious}}" target="_blank">{{suspicious}}</a></li>
                             {% endfor %}

		  </div>
               {% endif %}
               {% if results.patterns.btc %}
                   <div id="btcwallets" class="tab-pane fade">
                       <br>
                       <ul>
                           {% for btc in results.patterns.btc %}
                               <li><a href="https://blockchain.info/address/{{btc}}" target="_blank">{{btc}}</a></li>
                           {% endfor %}
                       </ul>
                   </div>
               {% endif %}
            </div>
        </div>
    </div>
</div>

