<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Strings</h4>
            <p class="category">Strings and patterns</p>
        </div>
        <div class="content">
            <ul class="nav nav-tabs">
                {% if results.strings %}
                    <li class="active"><a data-toggle="tab" href="#strings">Strings</a></li>
                {% endif %}
                {% if results.patterns.ipaddress %}
                    <li><a data-toggle="tab" href="#ipaddresses">IP Addresses</a></li>
                {% endif %}
                {% if results.patterns.domain %}
                    <li><a data-toggle="tab" href="#domains">Domains</a></li>
                {% endif %}
                {% if results.patterns.btc %}
                    <li><a data-toggle="tab" href="#btcwallets">BTC Wallets</a></li>
                {% endif %}
            </ul>

            <div class="tab-content">
               {% if results.strings %}
                   <div id="strings" class="tab-pane fade in active">
                       <pre>{{ results.strings }}</pre>
                   </div>
               {% endif %}
               {% if results.patterns.ipaddress %}
                   <div id="ipaddresses" class="tab-pane fade in active">
                       <pre>{{ results.patterns.ipaddress }}</pre>
                   </div>
               {% endif %}
               {% if results.patterns.domain %}
                   <div id="domains" class="tab-pane fade in active">
                       <pre>{{ results.patterns.domain }}</pre>
                   </div>
               {% endif %}
               {% if results.patterns.btc %}
                   <div id="btcwallets" class="tab-pane fade in active">
                       <pre>{{ results.patterns.btc }}</pre>
                   </div>
               {% endif %}
            </div>
        </div>
    </div>
</div>

