<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Strings</h4>
            <p class="category">Strings and patterns</p>
        </div>
        <div class="content">
            <ul class="nav nav-tabs">
                {% if results.strings %}
                    <li class="active"><a data-toggle="tab" href="#strings">Strings</a></li>
                {% endif %}
                {% if results.patterns.ipaddress %}
                    <li><a data-toggle="tab" href="#ipaddresses">IP Addresses</a></li>
                {% endif %}
                {% if results.patterns.domain %}
                    <li><a data-toggle="tab" href="#domains">Domains</a></li>
                {% endif %}
                {% if results.patterns.btc %}
                    <li><a data-toggle="tab" href="#btcwallets">BTC Wallets</a></li>
                {% endif %}
            </ul>

            <div class="tab-content">
               {% if results.strings %}
                   <div id="strings" class="tab-pane fade in active">
                       <pre>{{ results.strings }}</pre>
                   </div>
               {% endif %}
               {% if results.patterns.ipaddress %}
                   <div id="ipaddresses" class="tab-pane fade in active">
                       <ul>
                             {% for ip in results.patterns.ipaddress %}
                             <li><a href="https://www.robtex.com/ip-lookup/{{ip}}" target="_blank">{{ip}}</a></li>
                             {% endfor %}
                       </ul>
                   </div>
               {% endif %}
               {% if results.patterns.domain %}
                   <div id="domains" class="tab-pane fade in active">
                       <ul>
                            {% for dom in results.patterns.domain %}
                            <li><a href="https://www.robtex.com/dns-lookup/{{dom}}" target="_blank">{{dom}}</a></li>
                            {% endfor %}
                       </ul>
                   </div>
               {% endif %}
               {% if results.patterns.btc %}
                   <div id="btcwallets" class="tab-pane fade in active">
                       <ul>
                           {% for btc in results.patterns.btc %}
                               <li><a href="https://blockchain.info/address/{{btc}}" target="_blank">{{btc}}</a></li>
                           {% endfor %}
                       </ul>
                   </div>
               {% endif %}
            </div>
        </div>
    </div>
</div>

